<%= sandwich 'person_breadcrumbs' do %>
<%= title_and_h1 "#{pluralize @photo_ids.length, 'photo'} commented on by #{@person.username}" %>

<table class="dark">
  <tr>
    <th class="empty"></th>
    <th colspan="2">links</th>
    <th>posted by</th>
    <th>found by</th>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| -%>
  <tr>
    <td class="row-number"><%= @photos.offset + photo_index + 1 %>.</td>
    <td><%= link_to_flickr_photo photo %></td>
    <td><%= link_to_photo photo %></td>
    <td><%= link_to_person photo.person %></td>
    <% if photo.game_status == 'found' -%>
    <td><%= photo.guesses.map { |guess| link_to_person guess.person }.join ', ' %></td>
    <% else -%>
    <td><strong><%= photo.game_status %></strong></td>
    <% end -%>
  </tr>
<% end -%>
</table>

<br/>
<%= will_paginate @photos %>
<% end %>
