<% content_for :title do %><%=h @person.username %>'s guesses<% end %>
<% sandwich 'person_breadcrumbs' do %>
<h1><%= pluralize @guesses.length, 'guess' %> by <%=h @person.username %></h1>

<table class="dark">
  <tr>
    <th class="empty"></th>
    <th>photo</th>
    <th>posted by</th>
    <th>date added</th>
    <th>date guessed</th>
  </tr>  
<% @guesses.each_with_index do |guess, guess_index| -%>
  <tr>
    <td class="row-number"><%= guess_index + 1 %>.</td>
    <% if guess.photo.person_id != 0 -%>
    <td class="thumbnail"><%= link_to titled_image_tag(url_for_flickr_image(guess.photo, 't'), ""), show_photo_path(guess.photo) %></td>
    <td><%= link_to_person guess.photo.person %></td>
    <% else -%>
    <td><strong>unknown</strong></td>
    <td><strong>unknown</strong></td>
    <% end -%>
    <td><%= local_date guess.photo.dateadded %></td>
    <td><%= local_date guess.guessed_at %></td>
  </tr>
<% end -%>
</table>

<% end %>
