<%= render :partial => 'person_breadcrumbs' %>
<hr/>
<h1><%= @guesses.length %> guesses by <%=h @person.username %></h1>

<table class="dark">
  <tr>
    <th class="empty"></th>
    <th colspan="2">links</th>
    <th>posted by</th>
    <th>date added</th>
    <th>date guessed</th>
  </tr>  
<% @guesses.each_with_index do |guess, guess_index| %>
  <tr>
    <td class="row-number"><%= guess_index + 1 %>.</td>
    <% if guess.photo.person_id != 0 -%>
    <td><a href="<%= guess.photo.page_url %>">Flickr</a></td>
    <td><%= link_to 'GWW', show_photo_url(guess.photo) %></td>
    <td><%= link_to_person guess.photo.person %></td>
    <% else -%>
    <td><b>unknown</b></td>
    <td><b>unknown</b></td>
    <td><b>unknown</b></td>
    <% end -%>
    <td><%= local_date guess.photo.dateadded %></td>
    <td><%= local_date guess.guessed_at %></td>
  </tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'person_breadcrumbs' %>
