<%= sandwich do %>
<%= title_and_h1 "#{@people.length} active members" %>

<table class="dark">
<tr>
  <th class="empty"></th>
  <th><%= link_to 'Member', other_people_path('username') %></th>
  <th><%= link_to 'Score', other_people_path('score') %></th>
  <th><%= link_to 'Posts', other_people_path('posts') %></th>
  <th><%= link_to 'Score + posts', other_people_path('score-plus-posts') %></th>
  <th><%= link_to 'Guesses per day', other_people_path('guesses-per-day') %></th>
  <th><%= link_to 'Posts per day', other_people_path('posts-per-day') %></th>
  <th><%= link_to 'Posts per guess', other_people_path('posts-per-guess') %></th>
  <th><%= link_to "Average # of days to guess others' posts", other_people_path('time-to-guess') %></th>
  <th><%= link_to 'Average # of days for posts to be guessed', other_people_path('time-to-be-guessed') %></th>
  <th><%= link_to "Average # of comments to guess others' posts", other_people_path('comments-to-guess') %></th>
  <th><%= link_to "Average # of comments per post", other_people_path('comments-per-post') %></th>
  <th><%= link_to 'Average # of comments for posts to be guessed', other_people_path('comments-to-be-guessed') %></th>
  <th><%= link_to 'Average # of views per post', other_people_path('views-per-post') %></th>
  <th><%= link_to 'Average # of faves per post', other_people_path('faves-per-post') %></th>
</tr>
<% @people.each_with_index do |person, person_index| %>
<tr>
  <td class="row-number"><%= person_index + 1 %>.</td>
  <td><%= link_to_person person %></td>
  <td class="number"><%= person.guess_count %></td>
  <td class="number"><%= person.post_count %></td>
  <td class="number"><%= person.score_plus_posts %></td>
  <td class="number"><%= to_4_places person.guesses_per_day %></td>
  <td class="number"><%= to_4_places person.posts_per_day %></td>
  <td class="number"><%= raw infinity_or person.posts_per_guess %></td>
  <td class="number"><%= raw infinity_or_days person.guess_speed %></td>
  <td class="number"><%= raw infinity_or_days person.be_guessed_speed %></td>
  <td class="number"><%= raw infinity_or person.comments_to_guess %></td>
  <td class="number"><%= to_4_places person.comments_per_post %></td>
  <td class="number"><%= raw infinity_or person.comments_to_be_guessed %></td>
  <td class="number"><%= to_4_places person.views_per_post %></td>
  <td class="number"><%= to_4_places person.faves_per_post %></td>
</tr>
<% end %>
</table>

<% end %>
