<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @people.length %> active members</h1>

<table>
<tr>
  <th>Player</th>
  <th>Score</th>
  <th>Photos posted</th>
  <th>Guesses per day</th>
  <th>Guesses per post</th>
  <th>Posts per guess</th>
</tr>
<% @people.each do |person| %>
<tr>
  <td><%= link_to person.username, show_person_url(person) %></td>
  <td><%= person[:guess_count] %></td>
  <td><%= person[:post_count] %></td>
  <td><%= sprintf "%.4f", person[:guesses_per_day] %></td>
  <td><%= person[:guesses_per_post].infinite? ? '&#8734' : sprintf("%.4f", person[:guesses_per_post]) %></td>
  <td><%= person[:posts_per_guess].infinite? ? '&#8734' : sprintf("%.4f", person[:posts_per_guess]) %></td>
</tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
