<% content_for :title do %>Active members<% end %>
<% sandwich do %>
<h1><%= @people.length %> active members</h1>

<table class="dark">
<tr>
  <th class="empty"></th>
  <th><%= link_to 'Member', list_path('username') %></th>
  <th><%= link_to 'Score', list_path('score') %></th>
  <th><%= link_to 'Posts', list_path('posts') %></th>
  <th><%= link_to 'Score + posts', list_path('score-plus-posts') %></th>
  <th><%= link_to 'Guesses per day', list_path('guesses-per-day') %></th>
  <th><%= link_to 'Posts per day', list_path('posts-per-day') %></th>
  <th><%= link_to 'Posts per guess', list_path('posts-per-guess') %></th>
  <th><%= link_to "Average # of days to guess others' posts", list_path('time-to-guess') %></th>
  <th><%= link_to 'Average # of days for posts to be guessed', list_path('time-to-be-guessed') %></th>
  <th><%= link_to "Average # of comments to guess others' posts", list_path('comments-to-guess') %></th>
  <th><%= link_to "Average # of comments per post", list_path('comments-per-post') %></th>
  <th><%= link_to 'Average # of comments for posts to be guessed', list_path('comments-to-be-guessed') %></th>
  <th><%= link_to 'Average # of views per post', list_path('views-per-post') %></th>
</tr>
<% @people.each_with_index do |person, person_index| %>
<tr>
  <td class="row-number"><%= person_index + 1 %>.</td>
  <td><%= link_to_person person %></td>
  <td class="number"><%= person[:guess_count] %></td>
  <td class="number"><%= person[:post_count] %></td>
  <td class="number"><%= person[:score_plus_posts] %></td>
  <td class="number"><%= to_4_places person[:guesses_per_day] %></td>
  <td class="number"><%= to_4_places person[:posts_per_day] %></td>
  <td class="number"><%= infinity_or person[:posts_per_guess] %></td>
  <td class="number"><%= infinity_or (person[:guess_speed] / 86400) %></td>
  <td class="number"><%= infinity_or (person[:be_guessed_speed] / 86400) %></td>
  <td class="number"><%= infinity_or person[:comments_to_guess] %></td>
  <td class="number"><%= to_4_places person[:comments_per_post] %></td>
  <td class="number"><%= infinity_or person[:comments_to_be_guessed] %></td>
  <td class="number"><%= to_4_places person[:views_per_post] %></td>
</tr>
<% end %>
</table>

<% end %>
