<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @people.length %> active members</h1>

<table>
<tr>
  <th>Player</th>
  <th>Score</th>
  <th>Photos posted</th>
  <th>Guesses per day</th>
</tr>
<% @people.each do |person| %>
<tr>
  <td><%= link_to person[:person].username, show_person_url(person[:person]) %></td>
  <td><%= person[:guess_count] %></td>
  <td><%= person[:photo_count] %></td>
  <td><%= if !person[:guess_rate].nil? then sprintf "%.4f", person[:guess_rate] end %></td>
</tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
