<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @people.length %> active members</h1>

<table class="dark">
<tr>
  <th class="empty"></th>
  <th><%= link_to 'Member', list_url('username') %></th>
  <th><%= link_to 'Score', list_url('score') %></th>
  <th><%= link_to 'Posts', list_url('posts') %></th>
  <th><%= link_to 'Guesses per day', list_url('guesses-per-day') %></th>
  <th><%= link_to 'Posts per guess', list_url('posts-per-guess') %></th>
</tr>
<% @people.each_with_index do |person, person_index| %>
<tr>
  <td class="row-number"><%= person_index + 1 %>.</td>
  <td><%= link_to_person person %></td>
  <td class="number"><%= person[:guess_count] %></td>
  <td class="number"><%= person[:post_count] %></td>
  <td class="number"><%= sprintf "%.4f", person[:guesses_per_day] %></td>
  <td class="number"><%= person[:posts_per_guess].infinite? ? '&#8734' : sprintf("%.4f", person[:posts_per_guess]) %></td>
</tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
