<% sandwich do %>
<h1><%= @people.length %> active members</h1>

<table class="dark">
<tr>
  <th class="empty"></th>
  <th><%= link_to 'Member', list_path('username') %></th>
  <th><%= link_to 'Score', list_path('score') %></th>
  <th><%= link_to 'Posts', list_path('posts') %></th>
  <th><%= link_to 'Guesses per day', list_path('guesses-per-day') %></th>
  <th><%= link_to 'Posts per guess', list_path('posts-per-guess') %></th>
  <th><%= link_to 'Average time to guess others\' posts (days)', list_path('time-to-guess') %></th>
</tr>
<% @people.each_with_index do |person, person_index| %>
<tr>
  <td class="row-number"><%= person_index + 1 %>.</td>
  <td><%= link_to_person person %></td>
  <td class="number"><%= person[:guess_count] %></td>
  <td class="number"><%= person[:post_count] %></td>
  <td class="number"><%= sprintf "%.4f", person[:guesses_per_day] %></td>
  <td class="number"><%= person[:posts_per_guess].infinite? ? '&#8734;' : sprintf("%.4f", person[:posts_per_guess]) %></td>
  <td class="number"><%= person[:guess_speed].infinite? ? '&#8734;' : sprintf("%.4f", person[:guess_speed] / 86400) %></td>
</tr>
<% end %>
</table>

<% end %>
