<%= head_javascript 'app/shared/GWW', 'app/shared/map', 'app/people/map' %>
<% content_for :head do javascript_tag '$(GWW.people.map.setUp);' end %>
<%= sandwich 'person_breadcrumbs' do %>
<%= title_and_h1 "Mapped photos posted or guessed by #{@person.username}" %>

<p><% if @posts_count > 0 && @guesses_count > 0 %>Show:<% end %>
  <% if @posts_count > 0 %>
    <% label_text = "#{pluralize @posts_count, 'mapped post'} (?, -)" %>
    <% if @guesses_count > 0 %>
      <%= check_box_tag 'posts', '', true %>
      <%= label_tag 'posts', label_text %>
    <% else %>
      <%= label_text %>
    <% end %>
  <% end %>
  <% if @guesses_count > 0 %>
    <% label_text = "#{pluralize @guesses_count, 'mapped guess'} (!)" %>
    <% if @posts_count > 0 %>
      <%= check_box_tag 'guesses', '', true %>
      <%= label_tag 'guesses', label_text %>
    <% else %>
      <%= label_text %>
    <% end %>
  <% end %>
</p>

<div id="map_canvas"></div>

<%= render 'shared/map_help' %>

<% end %>
<%= render 'shared/config' %>
