<% content_for :title do %><%=h @person.username %>'s posts<% end %>
<% sandwich 'person_breadcrumbs' do %>
<h1><%= pluralize @photos.length, 'photo' %> posted by <%=h @person.username %></h1>

<table class="dark">
  <tr>
    <td class="empty"></td>
    <th>photo</th>
    <th>date added</th>
    <th>last update</th>
    <th>mapped</th>
    <th>game status</th>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| -%>
  <tr>
    <td class="row-number"><%= photo_index + 1 %>.</td>
    <td class="thumbnail"><%= linked_image photo %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo.mapped %></td>
    <td><strong><%= photo.game_status %></strong></td>
  </tr>
<% end -%>
</table>

<% end %>
