<%= head_javascript 'shared/aboutAutoMapping' %>
<% content_for :head do javascript_tag '$(GWW.shared.aboutAutoMapping.setUp);' end %>
<%= sandwich 'people/breadcrumbs' do %>
<%= title_and_h1 @person.username %>

<p>On Flickr:
<a href="<%= url_for_flickr_person @person %>">profile</a> -
<a href="<%= url_for_flickr_person @person %>photosof/">photos of <%= @person.username %></a> -
<a href="<%= url_for_flickr_photos @person %>">photostream</a> -
<a href="<%= url_for_flickr_photos @person %>map/">map</a> -
<a href="<%= url_for_flickr_photos @person %>favorites/">favorites</a></p>

<p>In Guess Where SF:
<%= link_to "unfounds", search_photos_with_terms_path("game_status/unfound,unconfirmed/done-by/#{@person.username}") %> -
<%= link_to "posts", search_photos_with_terms_path("done-by/#{@person.username}") %> -
<%= link_to "guesses", person_guesses_path(@person) %> -
<%= link_to "comments", person_comments_path(@person, 1) %> -
<%= link_to "map of posts and guesses", person_map_path(@person) %></p>

<h2>Standings</h2>

<% if @guesses.empty? %>
  <%= @person.username %> has never made a correct guess.<br/>
<% else %>
  <%= @person.username %> is <%= @tied ? 'tied for' : 'in' %> <%= @place.ordinal %> place with a score of <%= @guesses.length %>.<br/>
  <%= render 'people/show/high_scorers', high_scorers: @weekly_high_scorers, period: 'week' %>
  <%= render 'people/show/high_scorers', high_scorers: @monthly_high_scorers, period: 'month' %>
<% end %>
<br/>

<% if @posts.empty? %>
  <%= @person.username %> has never posted a photo to the group.<br/>
<% else %>
  <%= @person.username %> has posted <%= pluralize @posts.length, 'photo' %> to the group, <%= if @posts_tied then 'tied for ' end %>the <%= if @posts_place > 1 then "#{@posts_place.ordinal} " end %>most.<br/>
  <%= render 'people/show/top_posters', top_posters: @weekly_top_posters, period: 'week' %>
  <%= render 'people/show/top_posters', top_posters: @monthly_top_posters, period: 'month' %>
<% end %>

<%= render 'people/show/trophies' %>

<%= render 'people/show/guesses' %>

<%= render 'people/show/posts' %>

<% end %>
