<% content_for :title do %><%=h @person.username %><% end %>
<% sandwich 'people/breadcrumbs' do %>

<h1><%=h @person.username %></h1>

<p>On Flickr:
<a href="http://www.flickr.com/people/<%= @person.flickrid %>/"><%=h @person.username %>'s profile</a> -
<a href="http://www.flickr.com/photos/<%= @person.flickrid %>/"><%=h @person.username %>'s photostream</a> -
<a href="http://www.flickr.com/photos/<%= @person.flickrid %>/favorites/"><%=h @person.username %>'s favorites</a> -
<a href="http://www.flickr.com/people/<%= @person.flickrid %>/photosof/">photos of <%=h @person.username %></a></p>

<p>In Guess Where SF:
<a href="http://anythreewords.com/gwsf/index.php?pos=<%=h @person.username %>"><%= @person.username %>'s unfounds</a> -
<%= link_to "#{@person.username}'s posts", :action => 'posts', :id => @person %> -
<%= link_to "#{@person.username}'s guesses", :action => 'guesses', :id => @person %> -
<%= link_to "#{@person.username}'s comments", list_comments_path(@person, 1) %></p>

<h2>Standings</h2>

<%=h @person.username %> is <%= @tied ? 'tied for' : 'in' %> <%= ordinal @place %> place with a score of <%= @guesses.length %>.<br/>

<%= render 'people/show/high_scorers', :high_scorers => @weekly_high_scorers, :period => 'week' %>
<%= render 'people/show/high_scorers', :high_scorers => @monthly_high_scorers, :period => 'month' %>

<%= render 'people/show/trophies' %>

<%= render 'people/show/guesses' %>

<%= render 'people/show/posts' %>

<% end %>
