<%= render :partial => 'breadcrumbs' %>
<hr/>

<h1><%=h @person.username %></h1>

On Flickr: <a href="http://www.flickr.com/people/<%= @person.flickrid %>/"><%=h @person.username %>'s profile</a> -
<a href="http://www.flickr.com/photos/<%= @person.flickrid %>/"><%=h @person.username %>'s photostream</a><br/>
In Guess Where SF:
<a href="http://anythreewords.com/gwsf/index.php?pos=<%=h @person.username %>"><%= @person.username %>'s unfounds</a> -
<%= link_to "#{@person.username}'s posts", :action => 'posts', :id => @person %> -
<%= link_to "#{@person.username}'s guesses", :action => 'guesses', :id => @person %> -
<%= link_to "#{@person.username}'s comments", :action => 'comments', :id => @person %>
<br/><br/>

<%=h @person.username %> is <%= @tied ? 'tied for' : 'in' %> <%= ordinal @place %> place with a score of <%= @guessed_count %>.<br/>

<%= render :partial => 'show_high_scorers',
  :locals => { :high_scorers => @weekly_high_scorers, :period => 'week' } %>
<%= render :partial => 'show_high_scorers',
  :locals => { :high_scorers => @monthly_high_scorers, :period => 'month' } %>
<br/>

<table id="firsts">
<tr>
<% if @first_guess -%><th>First guess</th><% end -%>
<% if @first_post -%><th>First post</th><% end -%>
</tr>
<tr>
<% if @first_guess -%><td><a href="<%= show_photo_url @first_guess.photo %>"><img src="<%= url_for_flickr_image @first_guess.photo, 't' %>"/></a><br/></td><% end -%>
<% if @first_post -%><td><a href="<%= show_photo_url @first_post %>"><img src="<%= url_for_flickr_image @first_post, 't' %>"/></a><br/></td><% end -%>
</tr>
<tr>
<% if @first_guess -%><td><%= @first_guess.photo.dateadded.getlocal.strftime '%B %d, %Y' %></td><% end -%>
<% if @first_post -%><td><%= @first_post.dateadded.getlocal.strftime '%B %d, %Y' %></td><% end -%>
</tr>
</table>

<b><%=h @person.username %> has correctly guessed <%=h @guessed_count %> photos</b><br/>

<% @posters.each do |poster| %>
<%=  poster[:photos].length %> <%= singularize 'were', poster[:photos].length %> posted by <%= link_to_person poster %>
<%   poster[:photos].each_with_index do |photo, photo_index| -%>
<%=    link_to photo_index + 1, show_photo_url(photo) %>
<%   end -%>
<br/>
<% end %>
<br/>

<b><%=h @person.username %> has posted <%=h @posted_count %> photos</b><br/>

<%= @unfound_photos.length %> <%= singularize 'remain', @unfound_photos.length %> unfound<% if ! @unfound_photos.find_all { |p| p.game_status == 'unconfirmed' }.empty? %> or <span class="unconfirmed">unconfirmed</span><% end %><%= @unfound_photos.empty? ? '.' : ':' %>
<% if ! @unfound_photos.empty? %>
<%   @unfound_photos.each_with_index do |photo, photo_index| -%>
<% if photo.game_status == 'unconfirmed' %><span class="unconfirmed"><% end %><%= link_to photo_index + 1, show_photo_url(photo) %><% if photo.game_status == 'unconfirmed' %></span><% end %>
<%   end -%>
<% end -%>
<br/>

<%= @revealed_photos.length %> <%= singularize 'were', @revealed_photos.length %> revealed<%= @revealed_photos.empty? ? '.' : ':' %>
<% if ! @revealed_photos.empty? %>
<%   @revealed_photos.each_with_index do |photo, photo_index| -%>
<%= link_to photo_index + 1, show_photo_url(photo) %>
<%   end -%>
<% end -%>
<br/>

<% @guessers.each do |guesser| %>
<%=  guesser[:photos].length %> <%= singularize 'were', guesser[:photos].length %> guessed by <%= link_to_person guesser %>:
<%   guesser[:photos].each_with_index do |photo, photo_index| %>
<%=    link_to photo_index + 1, show_photo_url(photo) %>
<%   end -%>
<br/>
<% end %>

<hr/>
<%= render :partial => 'breadcrumbs' %>
