<%= render :partial => 'breadcrumbs' %>
<hr/>

<h1><%=h @person.username %></h1>

On Flickr: <a href="http://www.flickr.com/people/<%= @person.flickrid %>/"><%=h @person.username %>'s profile</a> -
<a href="http://www.flickr.com/photos/<%= @person.flickrid %>/"><%=h @person.username %>'s photostream</a><br/>
In Guess Where SF:
<a href="http://anythreewords.com/gwsf/index.php?pos=<%=h @person.username %>"><%= @person.username %>'s unfounds</a> -
<%= link_to "#{@person.username}'s posts", :action => 'posts', :id => @person %> -
<%= link_to "#{@person.username}'s guesses", :action => 'guesses', :id => @person %> -
<%= link_to "#{@person.username}'s comments", :action => 'comments', :id => @person %>
<br/><br/>

<%=h @person.username %> is <%= @tied ? 'tied for' : 'in' %> <%= ordinal @place %> place with a score of <%= @guesses.length %>.<br/>

<%= render :partial => 'people/show/high_scorers',
  :locals => { :high_scorers => @weekly_high_scorers, :period => 'week' } %>
<%= render :partial => 'people/show/high_scorers',
  :locals => { :high_scorers => @monthly_high_scorers, :period => 'month' } %>
<br/>

<%= render :partial => 'people/show/trophies',
  :locals => { :first_guess => @first_guess, :first_post => @first_post,
    :oldest_guess => @oldest_guess, :fastest_guess => @fastest_guess,
    :longest_lasting_guess => @longest_lasting_guess,
    :shortest_lasting_guess => @shortest_lasting_guess } %>

<%= render :partial => 'people/show/guesses',
  :locals => { :person => @person, :guesses => @guesses, :posters => @posters }
  %>

<%= render :partial => 'people/show/posts',
  :locals => { :person => @person, :posts => @posts,
    :unfound_photos => @unfound_photos, :revealed_photos => @revealed_photos,
    :guessers => @guessers } %>

<hr/>
<%= render :partial => 'breadcrumbs' %>
