<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1>Top guessers</h1>

<table class="container"><tr>
  <td>
    <div class="darker">by day for the past week</div>

    <table class="dark">
      <% @days.each_with_index do |day, i| -%>
	<tr><th colspan="2">for <%= day[:dates][:begin].strftime '%A, %B %d' %><% if i == 0 -%> so far ...<% end -%></th></tr>
        <%= render :partial => 'people/top_guessers/scores',
          :locals => { :scores => day[:scores] }  %>
      <% end -%>
    </table>

    <div class="darker">by week for the past month</div>

    <table class="dark">
      <% @weeks.each_with_index do |week, week_index| -%>
	<tr><th colspan="2">for the week of <%= week[:dates][:begin].strftime '%B %d' %><% if week_index == 0 -%> so far ...<% end -%></th></tr>
        <%= render :partial => 'people/top_guessers/scores',
          :locals => { :scores => week[:scores] }  %>
      <% end -%>
    </table>

  </td>
  <td>
    <div class="darker">by month for the past year</div>

    <table class="dark">
      <% @months.each_with_index do |month, month_index| -%>
	<tr><th colspan="2">for <%= month[:dates][:begin].strftime '%B %Y' %><% if month_index == 0 -%> so far ...<% end -%></th></tr>
        <%= render :partial => 'people/top_guessers/scores',
          :locals => { :scores => month[:scores] }  %>
      <% end -%>
    </table>

  </td>
  <td>
    <div class="darker">by year</div>

    <table class="dark">
      <% @years.each_with_index do |year, year_index| -%>
	<tr><th colspan="2">for <%= year[:dates][:begin].strftime '%Y' %><% if year_index == 0 -%> so far ...<% end -%></th></tr>
        <%= render :partial => 'people/top_guessers/scores',
          :locals => { :scores => year[:scores] }  %>
      <% end -%>
    </table>

  </td>
</tr></table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
