<tr>
  <td class="thumbnail"><%= linked_image guess.photo %></td>
  <td><%= link_to_person guess.photo.person %></td>
  <td><%= link_to_person guess.person %></td>
  <td><%= guess.photo.dateadded.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
  <td><%= guess.guessed_at.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
  <td><%= guess.time_elapsed %></td>
</tr>
