<%= render :partial => 'admin/breadcrumbs' %>
<hr/>
<h1>Score report</h1>

<a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a><br/><br/>

<textarea name="textfield" onFocus="this.select();" rows="50" style="width: 800px;" wrap="virtual">
&lt;b&gt;updated <%= @report_date.strftime '%A, %B %d, %I %p' %>&lt;/b&gt;

<%= pluralize @guesses.length, 'new guess' %> by ...

<% @guessers.each do |guesser| -%>
<%= render :partial => 'report_link_to_score',
  :locals => { :person => guesser } %>
<% guesser[:guesses].each do |guess| -%>&lt;a href="<%= url_for_flickr_photo guess.photo %>">&lt;img height="50" width="50" src="<%= url_for_flickr_image guess.photo, "s" %>"&gt;&lt;/a&gt; <% end %>
<% end -%>

<% if ! @revealers.empty? -%>
<%= pluralize @revelations.length, 'photo' %> revealed by ...
<% @revealers.each do |revealer| -%>
&lt;b&gt;<%=h revealer.username %>:&lt;/b&gt;
<% revealer[:revelations].each do |revelation| -%>&lt;a href="<%= url_for_flickr_photo revelation.photo %>">&lt;img height="50" width="50" src="<%= url_for_flickr_image revelation.photo, "s" %>"&gt;&lt;/a&gt; <% end %>
<% end -%>

<% end -%>
<%= render :partial => 'report_high_scorers',
  :locals => { :period => 'week', :high_scorers => @weekly_high_scorers } %>
<%= render :partial => 'report_high_scorers',
  :locals => { :period => 'month', :high_scorers => @monthly_high_scorers } %>

<%= pluralize @new_photos_count, 'photo' %> <%= singularize 'have', @new_photos_count %> been added to the pool since the last update. There are still &lt;a href="http://anythreewords.com/gwsf/"><%= @unfound_count %> unfound photos&lt;/a&gt; in the pool.

<%= @total_correct_guessers %> people have made correct guesses. <%= @total_posters_only %> people have put at least one photo in the pool but not guessed any photos correctly. That means that at least <%= @total_participants %> of our <%= pluralize @member_count, 'member' %> have participated in the game.

Since the beginning of the game, <%= @total_single_guessers %> people have guessed one photo correctly. Here are the <%= @total_correct_guessers - @total_single_guessers %> people who've correctly guessed two or more photos. In parentheses following each name is the number of photos that person has put in the pool.

<% @people_by_score.each do |people_with_score| -%>
<% next if people_with_score[:score] <= 1 -%>
&lt;a name="<%= people_with_score[:score] %>"&gt;&lt;b&gt;<%= people_with_score[:score] %>&lt;/b&gt;&lt;/a&gt; - <% people_with_score[:people].each_with_index do |person, i| -%><%=h person.username %> (<%= @posts_per_person[person.id] || 0 %>)<% if i < people_with_score[:people].length - 1 -%>, <% end -%><% end %>
<% end -%>

</textarea>

<hr/>
<%= render :partial => 'admin/breadcrumbs' %>
