<% sandwich 'shared/admin/breadcrumbs' do %>
<h1><%= title %></h1>

<table>
  <tr>
    <th>posted by</th>
    <th>added on</th>
    <th>last update</th>
    <th>mapped</th>
    <th>game status</th>
    <th></th>
  </tr>  
<% for photo in @photos -%>
  <tr>
    <td><%= link_to_person photo.person %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo.latitude.nil? %></td>
    <td><%= photo.game_status %></td>
    <td><%= link_to 'Edit', edit_admin_photo_path(photo, :load_comments => true) %></td>
  </tr>
<% end -%>
</table>

<% end %>
