<% content_for :title do %>Photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>
<%= javascript_include_tag :defaults %>

<% sandwich 'shared/admin/breadcrumbs' do %>

<% if !flash[:notice].nil? -%>
  <br/>
  <%= flash[:notice] %><br/><br/>
<% end -%>

<%= render 'photos/image_and_status', :size => 'm' %>
<br/>

<% form_tag :action => 'change_game_status', :id => @photo do %>
<div>Change this photo's status from <%= @photo.game_status %> to
<% if @photo.game_status != 'unfound' %><%= submit_tag 'unfound' %><% end %>
<% if @photo.game_status != 'unconfirmed' %><%= submit_tag 'unconfirmed' %><% end %>
(removes any guesses or revelation)</div>
<% end %>
<br/>

<% if ! @comments.empty? -%>
  <div class="comments">
    <% @comments.each do |comment| -%>
      <% comment_is_by_poster = comment.username == @photo.person.username -%>
      <% answer_is_accepted = comment_is_by_poster ? (@photo.revelation && @photo.revelation.revelation_text == comment.comment_text[0, 255]) : (! @photo.guesses.detect { |g| g.person.flickrid == comment.flickrid && g.guess_text == comment.comment_text[0, 255] }.nil?) -%>
      <% if answer_is_accepted then -%>
        <% form_tag :action => (comment_is_by_poster ? :remove_revelation : :remove_guess), :id => @photo do %>
          <%= hidden_field_tag 'comment_id', comment.id %>
          <%= submit_tag(comment_is_by_poster ? 'Remove this revelation' : 'Remove this guess') %>
        <% end %>
      <% else -%>
        <% form_tag :action => :add_answer, :id => @photo do %>
          <%= hidden_field_tag 'comment_id', comment.id %>
          <%= hidden_field_tag 'username', nil, :id => "#{comment.id}_username" %>
          <%= submit_tag (comment_is_by_poster ? 'Accept this revelation' : 'Add this guess'), :id => "#{comment.id}_submit" %>
          <script type="text/javascript">
            $('<%= comment.id %>_submit').observe('click', function () {
              $('<%= comment.id %>_username').value = $('person_username').value;
            });
          </script>
        <% end %>
      <% end -%>
      <strong><%=h comment.username %> says:</strong>
      <% if comment_is_by_poster -%><span class="poster"><% end -%>
      <% if answer_is_accepted -%><span class="accepted"><% end -%>
      <%= comment.comment_text %>
      <% if answer_is_accepted -%></span><% end -%>
      <% if comment_is_by_poster -%></span><% end -%>
      <br/>
    <% end -%>
  </div><br/>

  To give a point to someone other than the commenter, enter their username here
  <% form_tag({}, :id => 'username_form', :class => 'inline') do %>
    <%= text_field_with_auto_complete :person, :username %>
  <% end %>
  <script type="text/javascript">
    $('username_form').observe('submit', function (event) {
      event.preventDefault();
      return false;
    });
  </script>
  and choose the comment above.
  <br/>

<% else -%>
  No comments available.
<% end -%>
<br/>

<% form_tag({ :action => 'reload_comments', :id => @photo }, :class => 'inline') do %>
  <div><%= submit_tag("Reload comments") %></div>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= button_to 'Delete this photo', { :action => 'destroy', :id => @photo }, :confirm => 'Are you sure?' %>

<% end %>
