<%= head_css 'jquery-ui' %>
<%= head_javascript 'jquery-ui.min', 'autocomplete-rails', 'app/admin/photos/edit', 'app/shared/single-photo-map' %>
<% content_for :title do %>Editing photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>

<%= sandwich 'shared/admin/breadcrumbs' do %>

<% if !flash[:notice].nil? %>
  <br/>
  <%= flash[:notice] %><br/><br/>
<% end %>

<div id="photo">
  <%= render 'photos/image_and_status', :size => 'm' %>

  <%= form_tag change_game_status_path(@photo) do %>
    <p>Change this photo's status from <%= @photo.game_status %> to
    <% if @photo.game_status != 'unfound' %><%= submit_tag 'unfound' %><% end %>
    <% if @photo.game_status != 'unconfirmed' %><%= submit_tag 'unconfirmed' %><% end %>
    (removes any guesses or revelation)</p>
  <% end %>

  <p id="comments-header">Comments</p>
  <% if ! @comments.empty? %>
    <div id="comments" class="edit">
      <% @comments.each do |comment| %>
        <% is_accepted_answer = comment.is_accepted_answer %>
        <% if is_accepted_answer then %>
          <%= form_tag comment.is_by_poster ? remove_revelation_path(@photo) : remove_guess_path(@photo) do %>
            <div>
              <%= hidden_field_tag 'comment_id', comment.id, :id => nil %>
              <%= submit_tag(comment.is_by_poster ? 'Remove this revelation' : 'Remove this guess') %>
            </div>
          <% end %>
        <% else %>
          <%= form_tag add_selected_answer_path(@photo) do %>
            <div>
              <%= hidden_field_tag 'comment_id', comment.id, :id => nil %>
              <%= hidden_field_tag 'username', nil, :id => nil %>
              <%= submit_tag (comment.is_by_poster ? 'Accept this revelation' : 'Add this guess') %>
            </div>
          <% end %>
        <% end %>
        <div class="comment">
          <strong><%= comment.username %></strong> <span class="ago">(<%= ago comment.commented_at %>)</span><br/>
          <%= raw wrap_if(comment.is_by_poster, '<span class="poster">', '</span>') { wrap_if(is_accepted_answer, '<span class="accepted">', '</span>') { comment.comment_text } } -%>
        </div>
        <br/>
      <% end %>
    </div><br/>
  <% else %>
    No comments available.
  <% end %>
</div>

<%= render 'photos/sidebar' %>

<% if ! @comments.empty? %>
  <%= form_tag(add_entered_answer_path(@photo), :id => 'username_form') do %>
    <div>
      To give a point to someone other than the commenter, enter their username here
        <%= autocomplete_field_tag 'username', '', admin_photos_autocomplete_person_username_path %>
        and choose the comment above or enter one below.<br/>
      <%= submit_tag 'Reveal or guess the photo with the following text:' %> <%= text_field_tag 'answer_text' %> (Leave the username above blank to reveal.)<br/>
      To delete a guess or revelation created with either of these options, change the photo's status to unfound or unconfirmed, or accept the poster's revelation.
    </div>
  <% end %>
<% end %>

<br/>

<%= button_to 'Reload comments', reload_comments_path(@photo) %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= button_to 'Delete this photo', admin_photo_path(@photo), :method => :delete, :confirm => 'Are you sure?' %>

<% end %>
<%= render 'shared/config' %>
