<% content_for :title do %>Editing photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>
<%= javascript_include_tag :defaults, 'editPhoto' %>

<% sandwich 'shared/admin/breadcrumbs' do %>

<% if !flash[:notice].nil? -%>
  <br/>
  <%= flash[:notice] %><br/><br/>
<% end -%>

<%= render 'photos/image_and_status', :size => 'm' %>
<br/>

<% form_tag :action => 'change_game_status', :id => @photo do %>
<div>Change this photo's status from <%= @photo.game_status %> to
<% if @photo.game_status != 'unfound' %><%= submit_tag 'unfound' %><% end %>
<% if @photo.game_status != 'unconfirmed' %><%= submit_tag 'unconfirmed' %><% end %>
(removes any guesses or revelation)</div>
<% end %>

<p id="comments-header">Comments</p>
<% if ! @comments.empty? -%>
  <div id="comments" class="edit">
    <% @comments.each do |comment| -%>
      <% is_accepted_answer = comment.is_accepted_answer -%>
      <% if is_accepted_answer then -%>
        <% form_tag :action => (comment.is_by_poster ? :remove_revelation : :remove_guess), :id => @photo do %>
          <div>
            <%= hidden_field_tag 'comment_id', comment.id, :id => "comment_id_#{comment.id}" %>
            <%= submit_tag(comment.is_by_poster ? 'Remove this revelation' : 'Remove this guess') %>
          </div>
        <% end %>
      <% else -%>
        <% form_tag :action => :add_answer, :id => @photo do %>
          <div>
            <%= hidden_field_tag 'comment_id', comment.id, :id => "comment_id_#{comment.id}" %>
            <%= hidden_field_tag 'username', nil, :id => "username_#{comment.id}" %>
            <%= submit_tag (comment.is_by_poster ? 'Accept this revelation' : 'Add this guess'), :id => "submit_#{comment.id}" %>
          </div>
        <% end %>
      <% end -%>
      <div class="comment">
        <strong><%=h comment.username %></strong> <span class="ago">(<%= ago comment.commented_at %>)</span><br/>
        <%= wrap_if(comment.is_by_poster, '<span class="poster">', '</span>') { wrap_if(is_accepted_answer, '<span class="accepted">', '</span>') { comment.comment_text } } -%>
      </div>
      <br/>
    <% end -%>
  </div><br/>

  To give a point to someone other than the commenter, enter their username here
  <% form_tag({}, :id => 'username_form', :class => 'inline') do %>
    <div><%= text_field_with_auto_complete :person, :username %></div>
  <% end %>
  and choose the comment above.<br/>
  To delete a guess created in this way, change the photo's status to unfound or unconfirmed, or reveal it.

<% else -%>
  No comments available.
<% end -%>
<br/><br/>

<% form_tag({ :action => 'reload_comments', :id => @photo }, :class => 'inline') do %>
  <div><%= submit_tag("Reload comments") %></div>
<% end %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<%= button_to 'Delete this photo', { :action => 'destroy', :id => @photo }, :confirm => 'Are you sure?' %>

<% end %>
