<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>
<%= javascript_include_tag 'controls' %>

<%= render :partial => 'admin/breadcrumbs' %>
<hr/>

<% if !flash[:notice].nil? -%>
  <br/>
  <%= flash[:notice] %><br/>
<% end -%>

<%= render :partial => 'photos/image_and_status', :locals => { :size => "m" } %>
<br/>

<% form_tag :action => 'change_game_status', :id => @photo do %>
Change this photo's status from <%= @photo.game_status %> to
<% if @photo.game_status != 'unfound' %><%= submit_tag 'unfound' %><% end %>
<% if @photo.game_status != 'unconfirmed' %><%= submit_tag 'unconfirmed' %><% end %>
(removes any guesses or revelation)
<% end %>

<% form_tag :action => 'add_guess', :id => @photo do %>
<% if ! @comments.empty? -%>
  <table class="comments">
    <tr><th>Choose the correct guess or revelation from the comments below:</th></tr>
    <tr>
      <td>
	<% @comments.each do |comment| -%>
	  <% highlight = comment.username == @photo.person.username -%>
          <% uline = ! @photo.guesses.find_all { |g| g.person.username == comment.username }.empty? %>
	  <%= radio_button(:comment, :id, comment.id) %> <b><%=h comment.username %> says:</b> <% if highlight -%><span class="highlight"><% end -%><% if uline -%><u><% end -%><%= comment.comment_text %><% if uline -%></u><% end -%><% if highlight -%></span><% end -%><br/>
	<% end -%>
      </td>
    </tr>
  </table>
  <table class="dark">
    <tr><th>Person (if different than commenter)</th></tr>
    <tr><td><%= text_field_with_auto_complete :person, :username %></td></tr>
  </table>
  <%= submit_tag("Add this guess or revelation") %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= submit_tag("Remove this guess or revelation") %>
<% else -%>
  No comments available.
<% end -%>
<% end %>
<br/>

<table>
  <tr>
    <td>
      <% form_tag :action => 'reload_comments', :id => @photo do %>
      <%= submit_tag("Reload comments") %>
      <% end %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <%= button_to 'Delete this photo', { :action => 'destroy', :id => @photo }, :confirm => 'Are you sure?', :post => true %>
    </td>
  </tr>
</table>

<hr/>
<%= render :partial => 'admin/breadcrumbs' %>
