<%= render :partial => 'admin/breadcrumbs' %>
<hr/>
<h1><%= @photos.length %> <%= @title %></h1>

<table>
  <tr>
    <th>posted by</th>
    <th>added on</th>
    <th>last update</th>
    <th>mapped</th>
    <th>game status</th>
    <th></th>
  </tr>  
<% for photo in @photos -%>
  <tr>
    <td><%= link_to photo.person.username, show_person_url(photo.person) %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo.mapped %></td>
    <td><%= photo.game_status %></td>
    <td><%= link_to 'Edit', edit_photo_url(photo) %></td>
  </tr>
<% end -%>
</table>

<hr/>
<%= render :partial => 'admin/breadcrumbs' %>
