<%= render :partial => 'admin/breadcrumbs' %>
<hr/>
<h1><%= @photos.length %> photos worth more than one point</h1>

<table>
  <tr>
    <td>posted by</td>
    <td>added on</td>
    <td>last update</td>
    <td>mapped</td>
    <td>game status</td>
    <td>&nbsp;</td>
  </tr>  
<% for photo in @photos %>
  <tr>
    <td><%= photo.person.username %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo.mapped %></td>
    <td><b><%= photo.game_status %></b></td>
    <td><%= link_to 'Edit', edit_photo_url(photo) %></td>
  </tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'admin/breadcrumbs' %>
