<% content_for :title do %>Administration<% end %>
<h1>Guess Where Watcher administration</h1>

<%= render 'shared/most_recent_update' %>
<% if !flash[:notice].nil? -%>
  <%= flash[:notice] %><br/>
<% end -%>

<h2>Update</h2>
<ul>
<li><%= button_to 'Update photos now', :controller => 'photos', :action => 'update' %> (click only once, then wait until this page refreshes). This is done automatically every day at 5:30 PM.</li>
<li><%= button_to 'Update statistics now', :controller => 'photos', :action => 'update_statistics' %> (click only once, then wait until this page refreshes). This is done automatically every day at 9 PM, midnight and 3 AM.</li>
</ul>

<h2>Score</h2>
<ul>
<li><%= link_to 'Unfound or unconfirmed photos', :controller => 'photos', :action => 'unfound' %> (<%= @unfound_photos_count %>)</li>
<li><%= link_to 'Inaccessible and unfound or unconfirmed photos', :controller => 'photos', :action => 'inaccessible' %> (<%= @inaccessible_photos_count %>), for possible manual removal</li>
<li><%= link_to 'Photos worth more than one point', :controller => 'photos', :action => 'multipoint' %> (<%= @multipoint_photos_count %>), for possible rescoring</li>
</ul>

<h2>Publish</h2>
<ul>
<li><%= link_to 'New score report', new_admin_score_report_path %>, for copying to the <a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a></li>
<li><%= link_to 'Score reports', admin_score_reports_path %></li>
</ul>

<br/>

<%= link_to 'Get the "Edit in GWW" bookmarklet', :action => 'bookmarklet' %><br/><br/>

<hr/>
<%= render 'shared/breadcrumbs' %> -
<%= link_to 'About GWW', :controller => '/root', :action => 'about' %>
