<table id="trophies">
<tr>
  <% if first_guess %><th>First guess</th><% end %>
  <% if first_post %><th>First post</th><% end %>
  <% if oldest_guess %><th>Oldest post guessed</th><% end %>
  <% if fastest_guess %><th>Fastest guess</th><% end %>
  <% if longest_lasting_guess %><th>Longest-lasting post</th><% end %>
  <% if shortest_lasting_guess %><th>Fastest-guessed post</th><% end %>
</tr>
<tr>
  <% if first_guess %><td><%= render :partial => 'people/show/thumbnail', :locals => { :photo => first_guess.photo } %></td><% end %>
  <% if first_post %><td><%= render :partial => 'people/show/thumbnail', :locals => { :photo => first_post } %></td><% end %>
  <% if oldest_guess %><td><%= render :partial => 'people/show/thumbnail', :locals => { :photo => oldest_guess.photo } %></td><% end %>
  <% if fastest_guess %><td><%= render :partial => 'people/show/thumbnail', :locals => { :photo => fastest_guess.photo } %></td><% end %>
  <% if longest_lasting_guess %><td><%= render :partial => 'people/show/thumbnail', :locals => { :photo => longest_lasting_guess.photo } %></td><% end %>
  <% if shortest_lasting_guess %><td><%= render :partial => 'people/show/thumbnail', :locals => { :photo => shortest_lasting_guess.photo } %></td><% end %>
</tr>
<tr id="trophies-captions">
  <% if first_guess %><td><%= first_guess.guessed_at.getlocal.strftime '%B %d, %Y' %></td><% end %>
  <% if first_post %><td><%= first_post.dateadded.getlocal.strftime '%B %d, %Y' %></td><% end %>
  <% if oldest_guess %><td>Guessed after <%= oldest_guess.ymd_elapsed %></td><% end %>
  <% if fastest_guess %><td>Guessed in <%= fastest_guess.time_elapsed %></td><% end %>
  <% if longest_lasting_guess %><td>Guessed after <%= longest_lasting_guess.ymd_elapsed %></td><% end %>
  <% if shortest_lasting_guess %><td>Guessed in <%= shortest_lasting_guess.time_elapsed %></td><% end %>
</tr>
<tr>
  <% if first_guess %><td></td><% end -%>
  <% if first_post %><td></td><% end -%>
  <% if oldest_guess %><td><% if oldest_guess.years_old >= 1 %><img class="star" height="15" width="15" src="<%= oldest_star_image oldest_guess %>"/> <% end %><span class="star"><% if oldest_guess[:place] <= 10 %><a href="<%= url_for :controller => :guesses, :action => :longest_and_shortest %>"><% end %><%= ordinal oldest_guess[:place] %> place<% if oldest_guess[:place] <= 10 %>!</a></span><% end -%></td><% end -%>
  <% if fastest_guess %><td><% if fastest_guess.seconds_old <= 60 %><img class="star" height="15" width="15" src="<%= fastest_star_image fastest_guess %>"/> <% end %><% if fastest_guess[:place] <= 10 %><a href="<%= url_for :controller => :guesses, :action => :longest_and_shortest %>"><% end %><%= ordinal fastest_guess[:place] %> place<% if fastest_guess[:place] <= 10 %>!</a><% end -%></td><% end -%>
  <% if longest_lasting_guess %><td><% if longest_lasting_guess.years_old >= 1 %><img class="star" height="15" width="15" src="<%= oldest_star_image longest_lasting_guess %>"/> <% end %><span class="star"><% if longest_lasting_guess[:place] <= 10 %><a href="<%= url_for :controller => :guesses, :action => :longest_and_shortest %>"><% end %><%= ordinal longest_lasting_guess[:place] %> place<% if longest_lasting_guess[:place] <= 10 %>!</a></span><% end -%></td><% end -%>
  <% if shortest_lasting_guess %><td><% if shortest_lasting_guess.seconds_old <= 60 %><img class="star" height="15" width="15" src="<%= fastest_star_image shortest_lasting_guess %>"/> <% end %><% if shortest_lasting_guess[:place] <= 10 %><a href="<%= url_for :controller => :guesses, :action => :longest_and_shortest %>"><% end %><%= ordinal shortest_lasting_guess[:place] %> place<% if shortest_lasting_guess[:place] <= 10 %>!</a><% end -%></td><% end -%>
</tr>
</table>
