<h2>Milestones</h2>

<table class="trophies">
<tr class="trophies-text">
  <% if @first_guess %><th>First guess</th><% end %>
  <% if @first_post %><th>First post</th><% end %>
  <% if @most_recent_guess %><th>Most recent guess</th><% end %>
  <% if @most_recent_post %><th>Most recent post</th><% end %>
</tr>
<tr>
  <% if @first_guess %><td><%= thumbnail_with_alt @first_guess.photo %></td><% end %>
  <% if @first_post %><td><%= thumbnail_with_alt @first_post %></td><% end %>
  <% if @most_recent_guess %><td><%= thumbnail_with_alt @most_recent_guess.photo %></td><% end %>
  <% if @most_recent_post %><td><%= thumbnail_with_alt @most_recent_post %></td><% end %>
</tr>
<tr class="trophies-text">
  <% if @first_guess %><td><%= @first_guess.commented_at.getlocal.strftime '%B %d, %Y' %></td><% end %>
  <% if @first_post %><td><%= @first_post.dateadded.getlocal.strftime '%B %d, %Y' %></td><% end %>
  <% if @most_recent_guess %><td><%= @most_recent_guess.commented_at.getlocal.strftime '%B %d, %Y' %></td><% end %>
  <% if @most_recent_post %><td><%= @most_recent_post.dateadded.getlocal.strftime '%B %d, %Y' %></td><% end %>
</tr>
</table>

<h2>Trophies</h2>

<table class="trophies">
<tr class="trophies-text">
  <% if @oldest_guess %><th>Oldest post guessed</th><% end %>
  <% if @fastest_guess %><th>Fastest guess</th><% end %>
  <% if @longest_lasting_guess %><th>Longest-lasting post</th><% end %>
  <% if @shortest_lasting_guess %><th>Fastest-guessed post</th><% end %>
  <% if @oldest_unfound %><th>Oldest unfound post</th><% end %>
  <% if @most_commented %><th>Most-commented post</th><% end %>
  <% if @most_viewed %><th>Most-viewed post</th><% end %>
</tr>
<tr>
  <% if @oldest_guess %><td><%= thumbnail_with_alt @oldest_guess.photo %></td><% end %>
  <% if @fastest_guess %><td><%= thumbnail_with_alt @fastest_guess.photo %></td><% end %>
  <% if @longest_lasting_guess %><td><%= thumbnail_with_alt @longest_lasting_guess.photo %></td><% end %>
  <% if @shortest_lasting_guess %><td><%= thumbnail_with_alt @shortest_lasting_guess.photo %></td><% end %>
  <% if @oldest_unfound %><td><%= thumbnail_with_alt @oldest_unfound %></td><% end %>
  <% if @most_commented %><td><%= thumbnail_with_alt @most_commented %></td><% end %>
  <% if @most_viewed %><td><%= thumbnail_with_alt @most_viewed %></td><% end %>
</tr>
<tr class="trophies-text">
  <% if @oldest_guess %><td>Guessed after <%= raw @oldest_guess.ymd_elapsed %></td><% end %>
  <% if @fastest_guess %><td>Guessed in <%= raw @fastest_guess.time_elapsed %></td><% end %>
  <% if @longest_lasting_guess %><td>Guessed after <%= raw @longest_lasting_guess.ymd_elapsed %></td><% end %>
  <% if @shortest_lasting_guess %><td>Guessed in <%= raw @shortest_lasting_guess.time_elapsed %></td><% end %>
  <% if @oldest_unfound %><td><%= raw @oldest_unfound.ymd_elapsed %> old</td><% end %>
  <% if @most_commented %><td><%= raw pluralize @most_commented.other_user_comments, 'comment' %></td><% end %>
  <% if @most_viewed %><td><%= raw pluralize @most_viewed.views, 'view' %></td><% end %>
</tr>
<tr class="trophies-places">
  <% if @oldest_guess %><%= place @oldest_guess, :age %><% end %>
  <% if @fastest_guess %><%= place @fastest_guess, :speed %><% end %>
  <% if @longest_lasting_guess %><%= place @longest_lasting_guess, :age %><% end %>
  <% if @shortest_lasting_guess %><%= place @shortest_lasting_guess, :speed %><% end %>
  <% if @oldest_unfound %><%= place @oldest_unfound, :age %><% end %>
  <% if @most_commented %><%= place @most_commented, :comments %><% end %>
  <% if @most_viewed %><%= place @most_viewed, :views %><% end %>
</tr>
</table>
