<%= sandwich do %>
<%= title_and_h1 'Score reports' %>

<p>For the most recent score report complete with discussion, see the
<a href="<%= FlickrCredentials::SCORE_TOPIC_URL %>">GWSF Scores discussion topic</a>.</p>

<table class="dark">
  <tr>
    <th>Published on</th>
    <th>Guesses scored</th>
    <th>Revelations scored</th>
  </tr>
<% @score_reports.each do |report| -%>
  <tr>
    <td>
      <%= link_to report.created_at.getlocal.strftime('%b %e, %Y, %l:%M %p'), score_report_path(report.id) %>
    </td>
    <td class="number"><%= @guess_counts[report.id] || 0 %></td>
    <td class="number"><%= @revelation_counts[report.id] || 0 %></td>
  </tr>
<% end -%>
</table>

<%= render 'provenance' -%>

<% end %>
