<div class="float">
  <h2><%= title %></h2>
  <table class="dark">
    <tr>
      <th class="empty"></th>
      <th>photo</th>
      <th>posted by</th>
      <th>date added</th>
      <th>last updated</th>
      <th>game status</th>
      <th><%= statistic %></th>
    </tr>
  <% photos.each_with_index do |photo, photo_index| -%>
    <tr>
      <td class="row-number"><%= photo_index + 1 %>.</td>
      <td class="thumbnail"><%= link_to titled_image_tag(url_for_flickr_image(photo, 't'), ""), show_photo_path(photo) %></td>
      <td><%= link_to_person photo.person %></td>
      <td><%= local_date photo.dateadded %></td>
      <td><%= local_date photo.lastupdate %></td>
      <td><%= photo.game_status %></td>
      <td><%= photo[key] %></td>
    </tr>
  <% end %>
  </table>
</div>
