<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @guesses_count %> guesses</h1>

<table class="container"><tr>
  <td>
    <table class="dark">
      <tr><th colspan="2" class="darker">by day for the past week</th></tr>
      <tr><td colspan="2" class="empty">&nbsp;</td></tr>

      <% @days.each do |day| -%>
	<tr><th colspan="2">on <%= day[:dates][:begin].strftime '%A, %b. %d' %></th></tr>
	<% day[:scores].keys.sort { |x, y| y <=> x }.each do |score| -%>
	  <tr>
	    <td class="opening-number"><%= score %></td>
	    <td><%=h day[:scores][score].map { |p| p.username }.sort_by { |u| u.downcase }.join ', ' %></td>
	  </tr>
	<% end -%>
	<tr><td colspan="2" class="empty">&nbsp;</td></tr>
      <% end -%>
      <tr><td colspan="2" class="empty">&nbsp;</td></tr>

      <tr><th colspan="2" class="darker">by week for the past month</th></tr>
      <tr><td colspan="2" class="empty">&nbsp;</td></tr>

      <% @weeks.each_with_index do |week, week_index| -%>
	<tr><th colspan="2">for the week of <%= week[:dates][:begin].strftime '%b. %d' %><% if week_index == 0 -%> so far ...<% end -%></th></tr>
	<% week[:scores].keys.sort { |x, y| y <=> x }.each do |score| -%>
	  <tr>
	    <td class="opening-number"><%= score %></td>
	    <td><%= week[:scores][score].map { |p| p.username }.sort_by { |u| u.downcase }.join ', ' %></td>
	  </tr>
	<% end -%>
	<tr><td colspan="2" class="empty">&nbsp;</td></tr>
      <% end -%>

    </table>
  </td>
  <td>
    <table class="dark">
      <tr><th colspan="2" class="darker">by month for the past year</th></tr>
      <tr><td colspan="2" class="empty">&nbsp;</td></tr>

      <% @months.each_with_index do |month, month_index| -%>
	<tr><th colspan="2">for <%= month[:dates][:begin].strftime '%B %Y' %><% if month_index == 0 -%> so far ...<% end -%></th></tr>
	<% month[:scores].keys.sort { |x, y| y <=> x }.each do |score| -%>
	  <tr>
	    <td class="opening-number"><%= score %></td>
	    <td><%= month[:scores][score].map { |p| p.username }.sort_by { |u| u.downcase }.join ', ' %></td>
	  </tr>
	<% end -%>
	<tr><td colspan="2" class="empty">&nbsp;</td></tr>
      <% end -%>

    </table>
  </td>
  <td>
    <table class="dark">
      <tr><th colspan="2" class="darker">by year</th></tr>
      <tr><td colspan="2" class="empty">&nbsp;</td></tr>

      <% @years.each_with_index do |year, year_index| -%>
	<tr><th colspan="2">for <%= year[:dates][:begin].strftime '%Y' %><% if year_index == 0 -%> so far ...<% end -%></th></tr>
	<% year[:scores].keys.sort { |x, y| y <=> x }.each do |score| -%>
	  <tr>
	    <td class="opening-number"><%= score %></td>
	    <td><%= year[:scores][score].map { |p| p.username }.sort_by { |u| u.downcase }.join ', ' %></td>
	  </tr>
	<% end -%>
	<tr><td colspan="2" class="empty">&nbsp;</td></tr>
      <% end -%>

    </table>
  </td>
</tr></table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
