<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @guesses_count %> correct guesses</h1>

<table class="dark" width="80%">
  <tr><th colspan="2" class="darker">by day for the past week</th></tr>
  <tr><td colspan="2" class="empty">&nbsp;</td></tr>

  <% @last_days.each do |day| -%>
    <tr><th colspan="2">on <%= day[:dates][:begin].strftime '%A, %b. %d' %></th></tr>
    <% day[:scores].each do |person_list| -%>
      <tr>
	<td class="opening-number"><%= person_list[:guesscount] %></td>
	<td><%=h person_list[:people].map { |p| p[:person].username }.join ', ' %></td>
      </tr>
    <% end -%>
    <tr><td colspan="2" class="empty">&nbsp;</td></tr>
  <% end -%>

  <tr><th colspan="2" class="darker">by week for the past month</th></tr>
  <tr><td colspan="2" class="empty">&nbsp;</td></tr>

  <% @last_weeks.each_with_index do |week, week_index| -%>
    <tr><th colspan="2">for the week of <%= week[:dates][:begin].strftime '%b. %d' %><% if week_index == 0 -%> so far ...<% end -%></th></tr>
    <% week[:scores].each do |person_list| -%>
      <tr>
	<td class="opening-number"><%= person_list[:guesscount] %></td>
	<td><%= person_list[:people].map { |p| p[:person].username }.join ', ' %></td>
      </tr>
    <% end -%>
    <tr><td colspan="2" class="empty">&nbsp;</td></tr>
  <% end -%>

  <tr><th colspan="2" class="darker">by month for the past year</th></tr>
  <tr><td colspan="2" class="empty">&nbsp;</td></tr>

  <% @last_months.each_with_index do |month, month_index| -%>
    <tr><th colspan="2">for <%= month[:dates][:begin].strftime '%B %Y' %><% if month_index == 0 -%> so far ...<% end -%></th></tr>
    <% month[:scores].each do |person_list| -%>
      <tr>
	<td class="opening-number"><%= person_list[:guesscount] %></td>
	<td><%= person_list[:people].map { |p| p[:person].username }.join ', ' %></td>
      </tr>
    <% end -%>
    <tr><td colspan="2" class="empty">&nbsp;</td></tr>
  <% end -%>

  <tr><th colspan="2" class="darker">by year</th></tr>
  <tr><td colspan="2" class="empty">&nbsp;</td></tr>

  <% @last_years.each_with_index do |year, year_index| -%>
    <tr><th colspan="2">for <%= year[:dates][:begin].strftime '%Y' %><% if year_index == 0 -%> so far ...<% end -%></th></tr>
    <% year[:scores].each do |person_list| -%>
      <tr>
	<td class="opening-number"><%= person_list[:guesscount] %></td>
	<td><%= person_list[:people].map { |p| p[:person].username }.join ', ' %></td>
      </tr>
    <% end -%>
    <tr><td colspan="2" class="empty">&nbsp;</td></tr>
  <% end -%>

</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
