<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1>Longest and shortest-lived unfounds</h1>

<table class="dark">
  <%= render :partial => 'longest_and_shortest_header' %>
  <% @longest_guesses.each do |guess| %>
    <tr>
      <td class="guess_count"><%= link_to guess[:guess].photo.id, show_photo_url(guess[:guess].photo) %></td>
      <td><%=h guess[:guess].photo.person.username %></td>
      <td><%=h guess[:guess].person.username %></td>
      <td><%= guess[:guess].photo.dateadded.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
      <td><%= guess[:guess].guessed_at.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
      <td><%= guess[:elapsed_pretty] %></td>
    </tr>
  <% end %>
  <tr>
    <th colspan="6">...</th>
  </tr>
  <% @shortest_guesses.reverse.each do |guess| %>
    <tr>
      <td class="opening-number"><%= link_to guess[:guess].photo.id, show_photo_url(guess[:guess].photo) %></td>
      <td><%=h guess[:guess].photo.person.username %></td>
      <td><%=h guess[:guess].person.username %></td>
      <td><%= guess[:guess].photo.dateadded.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
      <td><%= guess[:guess].guessed_at.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
      <td><%= guess[:elapsed_pretty] %></td>
    </tr>
  <% end %>
  <%= render :partial => 'longest_and_shortest_header' %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
