<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1>Longest and shortest-lived unfounds</h1>

<table class="dark">
  <%= render :partial => 'longest_and_shortest_header' %>
  <%= render :partial => 'longest_and_shortest_body',
    :locals => { :guesses => @longest_guesses } %>
  <tr>
    <th colspan="6">...</th>
  </tr>
  <%= render :partial => 'longest_and_shortest_body',
    :locals => { :guesses => @shortest_guesses.reverse } %>
  <%= render :partial => 'longest_and_shortest_header' %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
