<%= sandwich do %>
<%= title_and_h1 'Longest and shortest-lived unfounds' %>

<table class="dark">
  <%= render 'guesses/longest_and_shortest/header' %>
  <%= render :partial => 'guesses/longest_and_shortest/guess',
    :collection => @longest_guesses %>
  <tr>
    <th colspan="6">...</th>
  </tr>
  <%= render :partial => 'guesses/longest_and_shortest/guess',
    :collection => @shortest_guesses.reverse %>
  <%= render 'guesses/longest_and_shortest/header' %>
</table>

<% end %>
