<div id="info-window">
  <%= thumbnail @post %>
  <p>
    Posted by <%= link_to_person @post.person %>, <%= @post.dateadded.getlocal.strftime '%B %e, %Y' %>.<br/>
    <% guesses = @post.guesses; if ! guesses.empty? -%>
      Guessed by <%= guesses.map { |guess| "#{link_to_person guess.person}, #{guess.guessed_at.getlocal.strftime '%B %e, %Y'}" }.join '; ' %>.
    <% end -%>
    <% revelation = @post.revelation; if revelation -%>
      Revealed <%= revelation.revealed_at.getlocal.strftime '%B %e, %Y' %>.
    <% end -%>
  </p>
</div>
