<%= link_to titled_image_tag(url_for_flickr_image(@photo, (defined?(size) ? size : nil)), ""), url_for_flickr_photo(@photo) %><br/>
Added to the group at <%= @photo.dateadded.getlocal.strftime '%I:%M %p, %B %d, %Y' %> by <%= link_to_person @photo.person %>.<br/><br/>

<% if @photo.game_status == 'found' -%>
  This photo was correctly guessed by ...
<% elsif @photo.game_status == 'revealed' -%>
  This photo's location was revealed by ...
<% else -%>
  This photo is <%= @photo.game_status %>.
<% end -%>
<br/>

<% if ! @photo.guesses.empty? || @photo.revelation -%>
<table class="dark">
  <tr>
    <th>Person</th>
    <th>When</th>
    <th>Text</th>
  </tr>
  <% if ! @photo.guesses.empty? -%>
    <% @photo.guesses.each do |guess| -%>
      <tr>
        <td><%= link_to_person guess.person %></td>
        <td class="when"><%= ago guess.commented_at %></td>
        <td><%= guess.comment_text %></td>
      </tr>
    <% end -%>
  <% else -%>
    <tr>
      <td><%= link_to_person @photo.person %></td>
      <td class="when"><%= ago @photo.revelation.commented_at %></td>
      <td><%=h @photo.revelation.comment_text %></td>
    </tr>
  <% end -%>
</table>
<% end -%>
