<a href="<%= @photo.page_url %>"><img src="<%= @photo.image_url size %>" border="0"/></a><br/>
Added to the group at <%= @photo.dateadded.getlocal.strftime '%I:%M %p, %B %d, %Y' %> by <%= link_to @photo.person.username, show_person_url(@photo.person) %>.<br/><br/>

<% if @photo.game_status == 'found' -%>
This photo was correctly guessed by
<%= @photo.guesses.map { |guess|
  link_to guess.person.username, show_person_url(guess.person) }.join ', ' -%>.
<% elsif @photo.game_status == 'revealed' -%>
This photo's location was revealed by the person who posted it.
<% else -%>
This photo is <%= @photo.game_status %>.
<% end -%>
<br/>

<% if ! @photo.guesses.empty? || @photo.revelation -%>
<table class="dark">
    <tr>
        <th>Person</th>
        <th>Date</th>
        <th>Text</th>
    </tr>
<% if ! @photo.guesses.empty? -%>
    <% @photo.guesses.each do |guess| -%>
    <tr>
        <td><%= guess.person.username %></td>
        <td><%= guess.guessed_at.getlocal.strftime '%Y/%m/%d' %></td>
        <td><%= guess.guess_text %></td>
    </tr>
    <% end -%>
<% else -%>
    <tr>
        <td><%=h @photo.person.username %></td>
        <td><%= @photo.revelation.revealed_at.getlocal.strftime '%Y/%m/%d' %></td>
        <td><%=h @photo.revelation.revelation_text %></td>
    </tr>
<% end -%>
</table>
<% end -%>
