<div id="sidebar">
  By <%= link_to_person @photo.person %>
  <hr/>
  <div id="story">
    <% if @photo.datetaken %>
      This photo was taken at <%= verbose_date @photo.datetaken %>
        (<%= link_to 'archives',
          "https://www.flickr.com/photos/#{@photo.person.identifier}/archives/date-taken/#{@photo.datetaken.getlocal.strftime '%Y/%m/%d'}/" %>).<br/>
      It was added to the group at <%= verbose_date @photo.dateadded %>.
    <% else %>
      This photo was added to the group at <%= verbose_date @photo.dateadded %>.
    <% end %>
    <% if @photo.mapped? %>
      It was mapped by the photographer.
    <% elsif @photo.mapped_or_automapped? %>
      It was auto-mapped.
    <% end %>
    <% if @photo.mapped_or_automapped? %>
      <div id="map"></div>
    <% else %>
      <p id="no-map">
        <% if @photo.game_status == 'unfound' || @photo.game_status == 'unconfirmed' %>
          This photo hasn't been found or revealed yet, so GWW doesn't know where it is.
        <% else %>
          This photo hasn't been mapped by its poster and
          <%= link_to root_about_auto_mapping_path, id: 'about-auto-mapping', class: 'normal' do %>
          GWW can't tell where it is from the guess or revelation<% end %>.
        <% end %>
      </p>
    <% end %>
    <div id="statistics">
      <%= link_to "#{@photo.views} views", url_for_flickr_photo(@photo) + 'stats/' %> &#183;
      <%= link_to "#{@photo.other_user_comments} comments", url_for_flickr_photo_in_pool(@photo) + '#comments' %> &#183;
      <%= link_to "#{@photo.faves} faves", url_for_flickr_photo(@photo) + 'favorites/' %>
    </div>
  </div>
  <hr/>
  <% if @photo.human_tags.any? %>
    <h2>Tags</h2>
    <ul class="tags">
      <% @photo.human_tags.each do |tag| %>
        <li<% if ! tag.correct? %> class="incorrect"<% end %>><%= tag.raw %></li>
      <% end %>
    </ul>
  <% end %>
  <% if @photo.machine_tags.any? %>
    <h2>Machine tags</h2>
    <ul class="tags">
      <% @photo.machine_tags.each do |tag| %>
        <li><%= tag.raw %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<br class="clear"/>
