<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>
<%= javascript_include_tag 'controls' %>

<br/>
<% if !flash[:notice].nil? -%>
  <%= flash[:notice] %><br/>
  <br/>
<% end -%>

<a href="<%= @photo.page_url %>"><img src="<%= @photo.image_url "m" %>" border="0"/></a><br/>
Added to the group on <%= @photo.dateadded.getlocal.strftime '%B %d, %Y' %> by <%= link_to @photo.person.username, show_person_url(@photo.person) %>.<br/>

<% if @unconfirmed.length > 0 -%>
  <%= @photo.person.username %> has <%= @unconfirmed.length %> unconfirmed photos:
  <% @unconfirmed.each_with_index do |photo, photo_index| -%>
    <%= link_to photo_index + 1, edit_photo_url(photo) %>
  <% end -%>
  <br/>
<% end -%>
<br/>

<% if @photo.game_status == 'found' -%>
This photo was correctly guessed by
<%= @photo.guesses.map { |guess|
  link_to guess.person.username, show_person_url(guess.person) }.join ', ' -%>.
<% elsif @photo.game_status == 'revealed' -%>
This photo's location was revealed by the person who posted it.
<% elsif @photo.game_status == 'unfound' -%>
This photo is unfound.
<% elsif @photo.game_status == 'unconfirmed' -%>
This photo is unconfirmed.
<% end -%>

<% form_tag :action => 'change_game_status', :id => @photo do %>
<%= radio_button(:photo, :game_status, 'unfound') %> unfound 
<%= radio_button(:photo, :game_status, 'unconfirmed') %> unconfirmed 
<%= submit_tag("Change status") %> (removes any guesses or revelation)
<% end %>

<% if ! @photo.guesses.empty? || @photo.revelation -%>
<table>
    <tr>
        <td class="dheader">Person</td>
        <td class="dheader">Date</td>
        <td class="dheader">Text</td>
    </tr>
<% if ! @photo.guesses.empty? -%>
    <% @photo.guesses.each do |guess| -%>
    <tr>
        <td class="dvalue"><%= guess.person.username %></td>
        <td class="dvalue"><%= guess.guessed_at.getlocal.strftime '%Y/%m/%d' %></td>
        <td class="dvalue"><%=h guess.guess_text %></td>
    </tr>
    <% end -%>
</table>
<% elsif @photo.revelation -%>
    <tr>
        <td class="dvalue"><%=h @photo.person.username %></td>
        <td class="dvalue"><%= @photo.revelation.revealed_at.getlocal.strftime '%Y/%m/%d' %></td>
        <td class="dvalue"><%=h @photo.revelation.revelation_text %></td>
    </tr>
<% end -%>
</table>
<% end -%>
<br/>

<% form_tag :action => 'add_guess', :id => @photo do %>
<% if ! @comments.empty? -%>
  <table class="indented">
    <tr><td class="dheader">Choose the correct guess or revelation from the comments below:</td></tr>
    <tr>
      <td>
	<% @comments.each do |comment| -%>
	  <% uline = false -%>
	  <% hilite = false -%>
	  <% if comment.username == @photo.person.username then hilight = true end -%>
	  <% @photo.guesses.each do |guess| -%>
	    <% if comment.username == guess.person.username then uline = true end -%>
	  <% end -%>
	  <%= radio_button(:comment, :id, comment.id) %> <b><%= comment.username %> says:</b> <% if hilight -%><span class="hilight"><% end -%><% if uline -%><u><% end -%><%= comment.comment_text %><% if uline -%></u><% end -%><% if hilight -%></span><% end -%><br/>
	<% end -%>
      </td>
    </tr>
  </table>
  <table>
    <tr><td class="dheader">Person (if different than commenter)</td></tr>
    <tr><td><%= text_field_with_auto_complete :person, :username %></td></tr>
  </table>
  <%= submit_tag("Add this guess or revelation") %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= submit_tag("Remove this guess or revelation") %>
<% else -%>
  No comments available.
<% end -%>
<% end %>
<br/>

<table>
  <tr>
    <td>
      <% form_tag :action => 'reload_comments', :id => @photo do %>
      <%= submit_tag("Reload comments") %>
      <% end %>
    </td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>
      <%= button_to 'Delete this photo', { :action => 'destroy', :id => @photo }, :confirm => 'Are you sure?', :post => true %>
    </td>
  </tr>
</table>
