<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1>First guesses and posts</h1>

<table class="dark">
<tr>
  <th class="empty"></th>
  <th>Member</th>
  <th>Score</th>
  <th>First guess</th>
  <th>First post</th>
</tr>
<% @people.each_with_index do |person, person_index| %>
<tr>
  <td class="row-number"><%= person_index + 1 %>.</td>
  <td><%= link_to_person person %></td>
  <td class="number"><%= person[:score] %></td>
  <td class="thumbnail"><a href="<%= url_for_flickr_photo person[:first_guess] %>"><img src="<%= url_for_flickr_image person[:first_guess], 't' %>"/></a></td>
  <td class="thumbnail"><% if person[:first_post] -%><a href="<%= url_for_flickr_photo person[:first_post] %>"><img src="<%= url_for_flickr_image person[:first_post], 't' %>"/></a><% end -%></td>
</tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
