<%= sandwich do %>
<%= title_and_h1 "#{@photo_count} photos" %>

<p>The counts of comments by members and of comments by members containing question marks are the closest we can easily come to a count of guesses. The most-guessed photos aren't necessarily at the top of those lists, but they're close.</p>

<table class="dark">
  <tr>
    <th class="empty"></th>
    <th>photo</th>
    <th><%= link_to 'posted by', other_photos_path('username') %></th>
    <th><%= link_to 'date added', other_photos_path('date-added') %></th>
    <th><%= link_to 'last updated', other_photos_path('last-updated') %></th>
    <th>game status</th>
    <th><%= link_to 'views', other_photos_path('views') %></th>
    <th><%= link_to 'comments', other_photos_path('comments') %></th>
    <th><%= link_to '# of comments by members while unfound', other_photos_path('member-comments') %></th>
    <th><%= link_to '# of comments with ? by members while unfound', other_photos_path('member-questions') %></th>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| %>
  <tr>
    <td class="row-number"><%= photo_index + 1 %>.</td>
    <td class="thumbnail"><%= thumbnail photo %></td>
    <td><%= link_to_person photo.person %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo.game_status %></td>
    <td><%= photo.views %></td>
    <td><%= photo.other_user_comments %></td>
    <td><%= photo[:member_comments] %></td>
    <td><%= photo[:member_questions] %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @photos %>
<% end %>
