<%= head_javascript 'shared/mapUtils', 'shared/createMap', 'photos/map' %>
<% content_for :head do javascript_tag '$(GWW.photos.map.setUp);' end %>
<%= sandwich do %>
<%= title_and_h1 'Mapped photos' %>

<div id="map_canvas"></div>

<%= render 'shared/map_help' %>

<% end %>
<%= render 'shared/config' %>
