<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @title %></h1>

<table class="dark">
  <tr>
    <th class="empty"></th>
    <th>photo</th>
    <th>posted by</th>
    <th>date added</th>
    <th>last updated</th>
    <th><%= @column_heading %></th>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| -%>
  <tr>
    <td class="row-number"><%= photo_index + 1 %>.</td>
    <td class="thumbnail"><a href="<%= show_photo_url photo %>"><img src="<%= url_for_flickr_image photo, 't' %>"/></a></td>
    <td><%= link_to_person photo.person %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo[:comment_count] %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @photos %>
<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
