<%= head_css 'jquery.ui.autocomplete', 'photos/search' %>
<%= head_javascript 'jquery.ui.autocomplete', 'isInViewport', 'shared/autocomplete', 'photos/search' %>
<% content_for :head do %>
  <meta name="viewport" content="width=device-width">
  <%= render 'shared/config' %>
<% end %>

<%= sandwich do %>
  <%= title_and_h1 "Photo search" %>

  <%= form_tag(search_photos_path, method: :get) do %>
    <div class="text-fields">
      <span><%= select_tag :did, options_for_select([['Posted', 'posted'], ['Activity', 'activity']], selected: @terms['did']) %> by:</span> <%= text_field_tag 'username', @terms['done-by'] %>
      <%= image_tag 'arrow_sans_down-16.png', size: '16x16' %><br/>
      <span>Mentions:</span> <%= text_field_tag 'text', @terms['text'] %>
      <a id="search-help-icon">?</a>
    </div>
    <div class="game-status">
      <span>Game status:</span> <%= select_tag :game_status, options_for_select(['unfound', 'unconfirmed', 'found', 'revealed'], selected: @terms['game-status']), multiple: true %>
    </div>
    <div class="date-fields">
      <span>After:</span> <%= text_field_tag 'from_date', @terms['from-date'] %><br/>
      <span>Before:</span> <%= text_field_tag 'to_date', @terms['to-date'] %>
    </div>
    <div>
      <div class="sort-fields">
        <span>Sorted by:</span>
        <%# TODO Dave use a single term for dateadded throughout app %>
        <%= select_tag :sorted_by, options_for_select([ [ 'Last updated', 'last-updated' ], [ 'Date added', 'date-added' ] ], selected: @sorted_by) %><br/>
        <span>Direction:</span>
        <%= select_tag :direction, options_for_select([ '-', '+' ], selected: @direction) %>
      </div>
      <div>
        <%= submit_tag 'Search' %><br/>
        <%= submit_tag 'Clear form', id: 'clear' %>
      </div>
    </div>
  <% end %>

  <p id="search-help">Searching for two or more words separated by spaces (e.g. "Fort Point") will return photos which have the two words near each other:
    both in the title, both in the description, each in any tag, or both in a single comment.
    Searching for two or more words separated by commas (e.g. "hint, Potrero") will return photos which have each
    of the two words separately anywhere in their text.
    You can even search both ways at the same time. For example, "San Jose, mural" is a good way to find murals on San Jose Avenue.</p>

  <div id="photos"></div>

  <div id="loading-animation">
    <div></div>
    <div></div>
  </div>

<% end %>
