<%= head_css 'jquery-ui' %>
<%= head_javascript 'jquery-ui.min', 'jquery.ba-hashchange.min.js', 'jquery.viewport.mini.js', 'app/shared/GWW', 'app/shared/autocomplete', 'app/photos/search' %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'app/photos/search' %>
  <%= render 'shared/config' %>
<% end %>

<%= sandwich do %>
  <%= title_and_h1 "Photo search" %>

  <%= form_tag(search_photos_path, :method => :get, :class => 'inline') do %>
    Posted by: <%= text_field_tag 'username', @terms['posted_by'] %>
    Game status: <%= select_tag :game_status, options_for_select(['unfound', 'unconfirmed', 'found', 'revealed'], :selected => @terms['game_status']), :multiple => true %>
    Sorted by: <%= select_tag :sorted_by, options_for_select([ [ 'Last updated', 'last-updated' ], [ 'Date added', 'date-added' ] ], :selected => @sorted_by) %>
    <%= submit_tag 'Search' %>
    <%= submit_tag 'Clear form', id: 'clear' %>
  <% end %>

  <div id="photos"></div>

<% end %>
