<% @photos.each_with_index do |photo, i| %>
  <%# The outermost div is there so that the ID is at the top edge of the row so that we can scroll to the top edge %>
  <%# of the row instead of to the top edge of the image, which isn't always at the top edge of the row. %>
  <%# If we switch to images of uniform height this div can go away. %>
  <div<% if i == 0 %> id="<%= params[:page] %>"<% end %> class="image<% if @text_terms.any? %> full<% end %>">
    <div>
      <a href="<%= url_for_flickr_photo_in_pool(photo) %>"><%= titled_image_tag url_for_flickr_image(photo, 'm'), "" %></a>
      <div class="bg"></div>
      <div>
        <p>Last updated <%= dmy_local_date photo.lastupdate %></p>
        <p>Posted <%= dmy_local_date photo.dateadded %></p>
        <div>
          <p class="by">by <%= link_to_person photo.person %></p>
          <%= link_to photo.game_status, photo_path(photo), class: 'game-status' %>
        </div>
      </div>
    </div>
  </div>
  <% if @text_terms.any? %>
    <% if photo.title %>
      <h2><%= photo.title %></h2>
    <% end %>
    <% if photo.description %>
      <p><%= raw photo.description.gsub("\n", "<br/>") %></p>
    <% end %>
    <% if photo.human_tags.any? %>
      <h3>Tags:</h3>
      <% photo.human_tags.map(&:raw).each do |tag|%>
        <%= tag %>&nbsp;&nbsp;
      <% end %>
    <% end %>
    <% matching_comments = photo.comments_that_match @text_terms %>
    <% if matching_comments.any? %>
      <br/><br/>
      <% matching_comments.each do |comment| %>
        <b><%= comment.username %></b> <%= raw comment.comment_text %><br/>
      <% end %>
    <% end %>
    <br clear="all"/>
  <% end %>
<% end %>
