<%= head_javascript 'app/shared/single-photo-map', 'app/shared/about-auto-mapping' %>
<% content_for :title do %>Photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>
<%= sandwich do %>
<div id="photo">
<%= render 'image_and_status', :size => 'z' %>

<p id="comments-header">Comments</p>
<% if ! @comments.empty? %>
  <div id="comments">
    <% @comments.each do |comment| %>
      <div class="comment">
        <strong><%= comment.username %></strong> <span class="ago">(<%= ago comment.commented_at %>)</span><br/>
        <%= raw comment.comment_text %><br/>
      </div>
      <br/>
    <% end %>
  </div>
<% else %>
No comments available.
<% end %>
</div>

<%= render 'photos/sidebar' %>

<% end %>
<%= render 'shared/config' %>
