<%= head_javascript 'shared/GWW' %>
<% content_for :head do %>
  <% if @json then %>
    <%= javascript_include_tag 'shared/singlePhotoMap' %>
    <%= javascript_tag '$(GWW.shared.singlePhotoMap.setUp);' %>
  <% else %>
    <%= javascript_include_tag 'shared/aboutAutoMapping' %>
    <%= javascript_tag '$(GWW.shared.aboutAutoMapping.setUp);' %>
  <% end %>
<% end %>
<% content_for :title do %>Photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>
<%= sandwich do %>
<div id="photo">
<%= render 'image_and_status', size: 'z' %>

<p id="comments-header">Comments</p>
<% if ! @comments.empty? %>
  <div id="comments">
    <% @comments.each do |comment| %>
      <div class="comment">
        <strong><%= comment.username %></strong> <span class="ago">(<%= ago comment.commented_at %>)</span><br/>
        <%= raw comment.comment_text %><br/>
      </div>
      <br/>
    <% end %>
  </div>
<% else %>
No comments available.
<% end %>
</div>

<%= render 'photos/sidebar' %>

<% end %>
<%= render 'shared/config' %>
