<% content_for :title do %>Photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>
<% sandwich do %>
<%= render 'image_and_status', :size => nil %>

<p class="comments-header">Comments</p>
<% if ! @comments.empty? -%>
<% @comments.each do |comment| -%>
  <strong><%=h comment.username %> says:</strong> <%= comment.comment_text %><br/>
<% end -%>
<% else -%>
No comments available.
<% end -%>

<br/>
<% end %>
