<%= render :partial => 'image_and_caption', :locals => { :size => nil } %>
<br/>

<%= render :partial => 'status' %>

<%= render :partial => 'guesses' %>

<% if ! @comments.empty? -%>
<h2>Comments</h2>
<% @comments.each do |comment| -%>
  <% @photo.guesses.each do |guess| -%>
  <% end -%>
  <b><%=h comment.username %> says:</b> <%= comment.comment_text %><br/>
<% end -%>
<% else -%>
No comments available.
<% end -%>
