<% content_for :title do %>Photo <%= @photo.id %>, by <%= @photo.person.username %><% end %>
<% sandwich do %>
<%= render :partial => 'image_and_status', :locals => { :size => nil } %>

<% if ! @comments.empty? -%>
<h2>Comments</h2>
<% @comments.each do |comment| -%>
  <strong><%=h comment.username %> says:</strong> <%= comment.comment_text %><br/>
<% end -%>
<% else -%>
No comments available.
<% end -%>

<br/>
<% end %>
