<%= render :partial => 'shared/breadcrumbs' %>
<hr/>

<%= render :partial => 'image_and_status', :locals => { :size => nil } %>

<% if ! @comments.empty? -%>
<h2>Comments</h2>
<% @comments.each do |comment| -%>
  <% @photo.guesses.each do |guess| -%>
  <% end -%>
  <b><%=h comment.username %> says:</b> <%= comment.comment_text %><br/>
<% end -%>
<% else -%>
No comments available.
<% end -%>

<br/>
<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
