<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @photos.length %> unfound photos</h1>

<table>
  <tr>
    <td class="cellspace">&nbsp;</td>
    <td class="dheader">link</td>
    <td class="dheader">posted by</td>
    <td class="dheader">date added</td>
    <td class="dheader">last updated</td>
    <td class="dheader">unconfirmed</td>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| -%>
  <tr>
    <td class="dnum"><%= photo_index + 1 %>.</td>
    <td class="dvalue"><a href="<%= photo.page_url %>">Link</a></td>
    <td class="dvalue"><%=h photo.person.username %></td>
    <td class="dvalue"><%= photo.dateadded.getlocal.strftime '%Y/%m/%d' %></td>
    <td class="dvalue"><%= photo.lastupdate.getlocal.strftime '%Y/%m/%d' %></td>
    <td class="dvalue"><%= photo.game_status == 'unconfirmed' ? 'X' : '&nbsp;' %></td>
  </tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
