<% content_for :title do %>Unfound photos<% end %>
<% sandwich do %>
<h1><%= @photos.length %> unfound photos</h1>

<table class="dark">
  <tr>
    <th class="empty"></th>
    <th colspan="2">links</th>
    <th>posted by</th>
    <th>date added</th>
    <th>last updated</th>
    <th>unconfirmed</th>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| -%>
  <tr>
    <td class="row-number"><%= photo_index + 1 %>.</td>
    <td><%= link_to_flickr_photo photo %></td>
    <td><%= link_to_photo photo %></td>
    <td><%= link_to_person photo.person %></td>
    <td><%= local_date photo.dateadded %></td>
    <td><%= local_date photo.lastupdate %></td>
    <td><%= photo.game_status == 'unconfirmed' ? 'X' : '&nbsp;' %></td>
  </tr>
<% end %>
</table>

<% end %>
