<%= render :partial => 'shared/breadcrumbs' %>
<hr/>
<h1><%= @photos.length %> unfound photos</h1>

<table class="dark">
  <tr>
    <th class="cellspace"></th>
    <th colspan="2">links</th>
    <th>posted by</th>
    <th>date added</th>
    <th>last updated</th>
    <th>unconfirmed</th>
  </tr>  
<% @photos.each_with_index do |photo, photo_index| -%>
  <tr>
    <td class="row-number"><%= photo_index + 1 %>.</td>
    <td class="dvalue"><a href="<%= photo.page_url %>">Flickr</a></td>
    <td class="dvalue"><%= link_to 'GWW', show_photo_url(photo) %></td>
    <td class="dvalue"><%= link_to photo.person.username, show_person_url(photo.person) %></td>
    <td class="dvalue"><%= photo.dateadded.getlocal.strftime '%Y/%m/%d' %></td>
    <td class="dvalue"><%= photo.lastupdate.getlocal.strftime '%Y/%m/%d' %></td>
    <td class="dvalue"><%= photo.game_status == 'unconfirmed' ? 'X' : '&nbsp;' %></td>
  </tr>
<% end %>
</table>

<hr/>
<%= render :partial => 'shared/breadcrumbs' %>
