<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery-ui' %>
  <%= javascript_include_tag :defaults, 'jquery-ui.min', 'autocomplete-rails' %>
  <%= csrf_meta_tag %>
<% end %>
<% content_for :title do %>Home<% end %>
<h1>Guess Where Watcher</h1>

<% if !flash[:general_error].nil? -%>
  <p class="error"><%= flash[:general_error] %></p>
<% end -%>

<p>Welcome to Guess Where Watcher, the <a
href="http://www.flickr.com/groups/guesswheresf/">Guess Where SF</a> scoring
application! As well as allowing administrators to score guesses, GWW lets
players see all of its data. Don't forget, though, that other tools
are even more useful for GWSF players than GWW: David Gallagher's
<a href="http://anythreewords.com/gwsf/">list of unfounds with thumbnails</a>
and Jef Poskanzer's <a href="http://www.acme.com/flickr/searchr/">Flickr
Comment Searchr</a>.</p>

<%= render 'shared/most_recent_update' %>

<h2>Reports</h2>
<ul class="spacious">
<li><%= link_to 'Score reports', score_reports_path %></li>
<li>Find a person, by username, Flickr ID or GWW ID:
  <%= form_tag(find_person_path, :method => :get, :class => 'inline') do %>
  <%= autocomplete_field_tag 'username', '', root_autocomplete_person_username_path %> <%= submit_tag 'Find' %>
  <% end %>
  <% if flash[:find_person_error] %><br/>
    <span class="error">Sorry; "<%= flash[:find_person_error] %>" doesn't seem to be anyone's username, Flickr ID or GWW ID.
      You could try again, or scan the <%= link_to 'Active members', people_path('score', '+') %> page.</span>
  <% end -%>
</li>
<li><%= link_to 'Active members', people_path('score', '+') %> and statistics. How do you measure up?</li>
<li><%= link_to 'Nemeses', nemeses_people_path %>: who guesses whom the most?</li>
<li><%= link_to 'Top guessers', top_guessers_people_path %> by day, week, month and year</li>
<li><%= link_to 'All photos', photos_path('date-added', '+', 1) %>, sortable in many ways</li>
<li><%= link_to 'Mapped photos', map_photos_path %>, on a map <span class="new-list-item">New!</span></li>
<li><%= link_to 'Unfound photos', unfound_photos_path %></li>
<li><%= link_to 'Longest and shortest-lived unfounds', longest_and_shortest_guesses_path %></li>
<li><%= link_to 'Longest-lived revelations', longest_revelations_path %></li>
<li>Statistics for the prestigious annual Wheresies awards: <%= render 'shared/wheresies' %></li>
</ul>

<h2>API</h2>
<p>The following page is XML, intended to be used by other programs and analytically minded humans.</p>
<ul>
<li><%= link_to 'Unfound photos', unfound_data_photos_path %></li>
</ul>
<br/>

<%= link_to 'Get the "View in GWW" bookmarklet', root_bookmarklet_path %>
<br/><br/>

<hr/>
<a href="http://www.flickr.com/groups/guesswheresf/">Guess Where SF</a> -
<%= link_to 'About GWW', root_about_path %>
