<h1>Guess Where Watcher</h1>

<p>Welcome to Guess Where Watcher, the <a
href="http://www.flickr.com/groups/guesswheresf/">Guess Where SF</a> scoring
application! As well as allowing administrators to score guesses, GWW lets
players see all of its data. Don't forget, though, that other tools
are even more useful for GWSF players than GWW: David Gallagher's
<a href="http://anythreewords.com/gwsf/">list of unfounds with thumbnails</a>
and Jef Poskanzer's <a href="http://www.acme.com/flickr/searchr/">Flickr
Comment Searchr</a>.</p>

<%= render :partial => 'shared/most_recent_update' %>

<h2>Reports</h2>
<ul>
<li>Scores are published to the <a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a></li>
<li><%= link_to 'Active members', :controller => 'people', :action => 'list' %></li>
<li><%= link_to 'Guesses by day, week, month and year', :controller => 'guesses', :action => 'by_day_week_month_and_year' %></li>
<li><%= link_to 'Longest and shortest-lived unfounds', :controller => 'guesses', :action => 'longest_and_shortest' %></li>
<li><%= link_to 'Unfound photos', :controller => 'photos', :action => 'unfound' %></li>
<li>Photos with <%= link_to 'the most comments', :controller => 'photos', :action => 'most_commented_on' %> and <%= link_to 'the most comments with question marks', :controller => 'photos', :action => 'most_questioned' %></li>
</ul>

<h2>API</h2>
<p>The following page is XML, intended to be used by other programs and analytically minded humans.</p>
<ul>
<li><%= link_to 'Unfound photos', :controller => 'photos', :action => 'unfound_data' %></li>
</ul>
<br/>

<%= link_to 'Get the "View in GWW" bookmarklet', :action => 'bookmarklet' %><br/><br/>

<hr/>
<a href="http://www.flickr.com/groups/guesswheresf/">Guess Where SF</a> -
<%= link_to 'About GWW', :action => 'about' %> -
<a href="http://github.com/dschweisguth/gww/">GWW source code</a> -
<a href="/backups/">GWW backups</a>
