<h1>Guess Where Watcher</h1>

<%= render :partial => 'shared/most_recent_update' %>

<h2>Reports</h2>
<ul>
<li><%= link_to 'Unfound photos', :controller => 'photos', :action => 'unfound_pretty' %></li>
<li><%= link_to 'Longest and shortest-lived unfounds', :controller => 'guesses', :action => 'longest_and_shortest' %></li>
<li><%= link_to 'Correct guesses', :controller => 'guesses', :action => 'correct' %></li>
<li><%= link_to 'Active members', :controller => 'people', :action => 'list' %></li>
</ul>

<h2>API</h2>
<ul>
<li><%= link_to 'Unfound photos', :controller => 'photos', :action => 'unfound_data' %></li>
</ul>
<br/>

<%= link_to 'Get the "View in GWW" bookmarklet', :action => 'bookmarklet' %><br/><br/>

<hr/>
<a href="http://www.flickr.com/groups/guesswheresf/">Back to Guess Where SF</a> -
<%= link_to 'About GWW', :action => 'about' %> -
<a href="http://github.com/dschweisguth/gww/">GWW source code</a> -
<a href="/backups/">GWW backups</a>
