<% content_for :title do %>Home<% end %>
<%= javascript_include_tag :defaults %>
<h1>Guess Where Watcher</h1>

<p>Welcome to Guess Where Watcher, the <a
href="http://www.flickr.com/groups/guesswheresf/">Guess Where SF</a> scoring
application! As well as allowing administrators to score guesses, GWW lets
players see all of its data. Don't forget, though, that other tools
are even more useful for GWSF players than GWW: David Gallagher's
<a href="http://anythreewords.com/gwsf/">list of unfounds with thumbnails</a>
and Jef Poskanzer's <a href="http://www.acme.com/flickr/searchr/">Flickr
Comment Searchr</a>.</p>

<%= render 'shared/most_recent_update' %>

<h2>Reports</h2>
<ul class="spacious">
<li>Scores are published to the <a href="http://www.flickr.com/groups/guesswheresf/discuss/72157613300758288/">GWSF Scores discussion topic</a></li>
<li>Find a person, by username, Flickr ID or GWW ID:
  <% form_tag({ :controller => 'people', :action => 'find' }, :class => 'inline') do %>
  <%= text_field_with_auto_complete :person, :username %> <%= submit_tag 'Find' %>
  <% end %>
  <% if flash[:find_person_error] %><br/>
    <span class="error">Sorry; "<%= flash[:find_person_error] %>" doesn't seem to be anyone's username, Flickr ID or GWW ID.
      You could try again, or scan the <%= link_to 'Active members', list_people_path('score', '+') %> page.</span>
  <% end -%>
</li>
<li><%= link_to 'Active members', list_people_path('score', '+') %> and statistics. How do you measure up?</li>
<li><%= link_to 'Nemeses', nemeses_path %>: who guesses whom the most?<span class="new-list-item">New!</span></li>
<li><%= link_to 'Top guessers', :controller => 'people', :action => 'top_guessers' %> by day, week, month and year</li>
<li><%= link_to 'Photos', list_photos_path('date-added', '+', 1) %>, sortable by various statistics</li>
<li><%= link_to 'Unfound photos', :controller => 'photos', :action => 'unfound' %></li>
<li><%= link_to 'Longest and shortest-lived unfounds', longest_and_shortest_path %></li>
<li><%= link_to 'Longest-lived revelations', :controller => 'revelations', :action => 'longest' %></li>
</ul>
<ul class="spacious">
<li><%= link_to 'Statistics for the 2010 Wheresies', :controller => 'wheresies' %></li>
</ul>

<h2>API</h2>
<p>The following page is XML, intended to be used by other programs and analytically minded humans.</p>
<ul>
<li><%= link_to 'Unfound photos', :controller => 'photos', :action => 'unfound_data' %></li>
</ul>
<br/>

<%= link_to 'Get the "View in GWW" bookmarklet', :action => 'bookmarklet' %><span class="new-list-item">New: jumps to people as well as photos!</span>
<br/><br/>

<hr/>
<a href="http://www.flickr.com/groups/guesswheresf/">Guess Where SF</a> -
<%= link_to 'About GWW', :action => 'about' %> -
<a href="http://www.flickr.com/services/apps/72157622606839772/">GWW in Flickr's App Garden</a> -
<a href="http://github.com/dschweisguth/gww/">GWW source code</a> -
<a href="http://guesswheresf.org:8111/">GWW continuous integration</a> -
<a href="/backups/">GWW backups</a>
