<%= sandwich do %>
<%= title_and_h1 'Longest-lived revelations' %>

<table class="dark">
  <tr>
    <th>photo</th>
    <th>posted by</th>
    <th>added on</th>
    <th>revealed on</th>
    <th>time elapsed</th>
  </tr>
  <% @longest.each do |revelation| -%>
    <tr>
      <td class="thumbnail"><%= thumbnail revelation.photo %></td>
      <td><%= link_to_person revelation.photo.person %></td>
      <td><%= raw revelation.photo.dateadded.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
      <td><%= raw revelation.commented_at.getlocal.strftime '%Y/%m/%d %I:%M:%S&nbsp;%p' %></td>
      <td><%= raw revelation.time_elapsed %></td>
    </tr>
  <% end -%>
</table>

<% end %>
