<div class="float">
  <h3><%= title %></h3>
  <table class="dark">
  <tr>
    <th class="empty"></th>
    <th><%= division %></th>
    <th><%= statistic %></th>
  </tr>
  <% people.each_with_index do |person, person_index| %>
  <tr>
    <td class="row-number"><%= person_index + 1 %>.</td>
    <td><%= link_to_person person %></td>
    <td class="number"><%= person.send key %></td>
  </tr>
  <% end %>
  </table>
</div>
